@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgb(7, 9, 26), rgb(15, 19, 54));
    
}

header {
    color: #fff;
}

.wrapper{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    /*background-color: rgb(4, 12, 15); */
    /*background-color: rgb(101, 101, 255);*/
    border-radius: 13px;
    padding: 30px;
    background-color: rgb(42, 47, 93);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* New styles for completed tasks */
.completed {
    text-decoration: line-through;
    background-color: rgb(19, 23, 61) !important; /* Darker green background */
    color: rgba(255, 255, 255, 0.7) !important; /* Slightly faded text color */
}

.remove {
    color: yellow;
    font-size: larger;
}

.wrapper header{
    font-size: 40px;
    font-weight: 500;
}

.wrapper .inputField{
    display: flex;
    height: 50px;
    width: 100%;
    margin: 15px 0;
}

.inputField input{
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}

.inputField button{
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(7, 9, 26);
    color: #fff;

    opacity: 0.6;
    pointer-events: none;

    font-size: 22px
}

.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}

.wrapper .todolist{
    max-height: 250px;
    overflow-y: auto;
}

.todolist li {
    list-style: none;
    height: auto; /* for longer text */
    line-height: 2.1;
    position: relative;
    background-color: rgb(12, 14, 33);
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
    color: rgb(251, 251, 251);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todolist li .remove {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
}

.todolist li .remove:hover {
    color: rgb(212, 212, 212);
}

.wrapper .footer{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    color: white;
}

.footer button{
    border: none;
    outline: none;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(7, 9, 26);
    color: #fff;
    padding: 6px 10px;
    font-size: 22px
}